name: PHP Composer CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Validate composer.json and composer.lock
      run: composer validate --strict

    - name: Cache Composer packages
      id: composer-cache
      uses: actions/cache@v4
      with:
        path: vendor
        key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-php-
    - name: Install git
      run: sudo apt-get update && sudo apt-get install -y git

    - name: Set git safe.directory
      run: git config --global --add safe.directory /var/www/html

    - name: Install dependencies
      # if cache hit, it will be a no-op
      # if cache miss, it will download dependencies
      run: composer install --prefer-dist --no-progress
    - name: Run test suite
      run: vendor/bin/phpunit
